<% @body_id = 'home-page' %>
<!-- <section class="hero-content">
    <div>
      <h1 class="hero-title">Gainz Atheltics</h1>
    </div>
</section> -->
<div id="home-image">
  <%= image_tag("background.jpg", alt: "Steamed Dumplings", class: "img-responsive") %>
</div>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
